#map {
  height: 94vh;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#routing-form {
  max-height: 94vh;
  overflow: auto;
}

#modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
}

#modal-container {
  z-index: 2;
}
